interactions:
- request:
    body: '{"dateTimestamp": "2026-04-10T14:30:00.00", "gmtTimestamp": "2026-04-10T12:30:00.00", "unitKey": "kg", "value": 72.5}'
    headers:
      Authorization:
      - Bearer SANITIZED
      Content-Type:
      - application/json
    method: POST
    uri: https://connectapi.garmin.com/weight-service/user-weight
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
    status:
      code: 204
      message: No Content
version: 1
